

img {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
 
img:hover {
    width: 400px;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;  
}

.btn:hover {
    width: 130px;
    height: 40px;
}

#product {
    margin-left: 90px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-gap: 10%
}

.items > h3,p{
 font-size: 1.3rem;
}

#product > p {
    text-align: left;
}